<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <%= gravatar_image_tag(@event.creator.email, size: 64, alt: @event.creator.username) %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p><%= link_to @event.creator.username, user_path(@event.creator) %></p>
        <p><%= link_to @event.title, event_path(@event) %></p>
        <p><%= @event.location %></p>
        <p><%= @event.date %></p>
      </div>
      <%= link_to 'Attend Event', new_event_attendance_path(event_id: @event.id) %>
      
    </div>
  </article>
</div>

<% @event.attendees.each do | attendee | %>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= gravatar_image_tag(attendee.email, size: 64, alt: attendee.username) %>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p><%= link_to attendee.username, user_path(attendee) %></p>
          <% if current_user == attendee %>
            <%= link_to 'Cancel Attendance', event_attendance_path(attendee.event_attendances.find { |i| i.attended_event.id == @event.id }.id), data: { method: :delete } %>
          <% end %>
        </div>
      </div>

        
        
    </article>
  </div>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>
